main {
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: 'Hanken Grotesk', sans-serif;
    height: 50vw;
}
/*Left Side - Up Side*/
.first {    
    background: linear-gradient(to bottom, hsl(252, 100%, 67%), hsl(241, 81%, 54%));
    padding: 1rem 3rem 1rem 3rem;
    border-radius: 5%;
    text-align: center;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
}
.result-title {
    color: hsl(241, 100%, 89%);
    font-weight: 700;
    font-size: 1.2em;
}
.circle {
    border-radius: 100%;
    width: 10rem;
    height: 10rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background: linear-gradient(to bottom, hsla(256, 72%, 46%, 1), hsla(241, 72%, 46%, 0));
    
}
#text-1 {
    font-weight: 800;
    font-size: 4em;
    margin: 1rem 0 0 0;
    color: white;
}
#text-2 {
    color: hsl(241, 100%, 80%);
    margin: 0  0 1rem 0; 
    font-weight: 400;
    font-size: 1em;
}
.status-title {
    color: white;
    font-weight: 700;
    font-size: 1.7em;
    margin-bottom: 0;
}
.message {
    color: hsl(241, 100%, 89%);
    font-size: 1em;
}

/*Right Side - Down Side*/